/* 2023-12-26 Imported from 2023 Ephemera css */ 

/* #region ⛔️ Blockquotes & Backlinks EVAL */
/***************** Blockquotes & Backlinks *******************/
/* turn '***' md used only in para beginning (often w emoji) into clearer sans font */
/* 2023-12-26 update: removed ':first-of-type' */
p > strong > em,
li > strong > em {
  text-transform: uppercase;
  font-family: var(--ephemera-font-sans);
  font-size: 0.9em;
  font-style: normal;
  letter-spacing: 0.01em;
}

/* CONVENTION: Use '***' at top of blockquote to identify who is quoted */
/* BOXED QUOTES STYLE */
.backlinks,
.markdown-preview-view blockquote {
  background-color: var(--background-blockquote);
  border-width: 0;
  margin-left: 0;
  border-radius: 10px;
  padding: 7px 15px 12px;
  margin-inline-end: 0;
  opacity: 0.9;
}
.markdown-preview-view blockquote > ul {
  margin-top: 0;
}
.backlinks .published-section-header,
blockquote > p:first-of-type > strong:first-of-type > em {
  display: inline-block;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: var(--ephemera-font-sans);
  font-size: 0.75em;
  letter-spacing: 0.01em;
  opacity: 1;
  color: var(--text-muted);
  width: 100%;
  line-height: 1.4;
}
blockquote > p:first-of-type > strong:first-of-type > em > a {
  border-bottom: 0;
}
blockquote > p:first-child {
  margin-bottom: 0;
}
blockquote > p:last-child {
  width: 100%;
  padding-bottom: 0px;
}
.markdown-preview-view blockquote > blockquote {
  opacity: 0.9;
  border-left: 0;
  margin-left: 0;
  padding-left: 15px;
  margin-inline-end: 0;
  padding-right: 15px;
  margin-bottom: 10px;
  background-color: var(--background-blockquote-2);
}

/* break hack https://stackoverflow.com/questions/7614928/change-br-height-using-css */
blockquote br {
  content: "";
  display: block;
  margin-bottom: 8px;
}
blockquote br:first-of-type {
  margin-bottom: 0;
}

/* don't know why app.css doesn't use css variable for this */
.backlink-items-container {
  font-size: var(--font-text-size-smaller);
}
.backlinks {
  font-family: var(--ephemera-font-sans);
}
.backlink-item a {
  border-bottom: 0;
}

/* make box full width at smaller widths */
@media screen and (max-width: 750px) {
  .backlinks, 
  .markdown-preview-view blockquote {
    margin: 0 -10px;
    border-radius: 0;
    padding: 12px 10px;
  }
}

/* switching a sub-quoted 'from' field to have top border (tweet-within-tweet)
.markdown-preview-view blockquote > blockquote > p > strong:first-of-type > em {
  border-top: 2px solid var(--background-modifier-border);
  border-bottom: 0;
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 2px;
}
*/
/* #endregion */