/* NP Site Header & Navigation
- [ ] 1220px wide, with 20px on either side for smaller responsive
- [ ] media queries to make smaller
- [ ] add right side nav items
- [ ] move search in JS
- [x] link hover states of site-header-text and site-header-logo in js (navigation.js)

.site-header
  .site-header-text
  .nav-links // JS added
    .nav-about
      .nav-link
    .nav-blog
      .nav-link
    #nav-light
    .search-view-outer // JS moved
*/

body {
  --header-height: 40px;
}

/* line-height 42px to v center text with NP */
@mixin navlinkstyle() {
  @include noselect;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  padding-top: 11px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--ax1);
  &:hover, &.pseudohover {
    text-decoration: none;
    color: var(--np-nav-hover);
  }
}


.site-header {
  width: calc(100% - 40px);
  height: 50px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
  border: 0;

  .site-header-text {
    order: 1;
  }
  .nav-links {
    order: 2;
  }
  /* this hamburger menu is invisible for now */
  .clickable-icon {
    order: 3;
  }
}

/* 40px of left side width is subtracted from $ephemera-width to make room for the 40px NPlogo */
.site-header-text {
  @include navlinkstyle;
  position: relative;
  height: 40px;
  /*padding-left: 50px;
  background: url("data:image/svg+xml,%0A%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2740%27%20height%3D%2740%27%20fill%3D%27url%28%23NPLogo%29%27%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%27evenodd%27%20d%3D%27M20%2040C8.9543%2040%200%2031.0457%200%2020S8.9543%200%2020%200s20%208.9543%2020%2020-8.9543%2020-20%2020zm7.7328-26.9438l.5966%203.731c.0062.045.0094.091.0094.1378%200%20.5523-.4477%201-1.0023%201h-1.9879a1.0065%201.0065%200%200%200-.1694.0124c-.5455.0864-.9176.5986-.8312%201.1441l.034.2152.0445.2812.238%201.5036c.0791.4997.5155.8435%201.0076.8435H29.15c2.4154%200%203.7772-1.6746%203.4095-3.9999l-.1234-.7808-.0349-.2205c-.4352-2.7515-.6457-4.0452-.8812-5.531a3.9395%203.9395%200%200%200-.0103-.062l-.2208-1.3937c-.1521-.9606-.9644-1.6645-1.9015-1.6863a607.618%20607.618%200%200%200-.9374-.0006h-.7004A23741.337%2023741.337%200%200%200%2023.813%208.25c-.0566%200-.114.0032-.1719.0124-.5455.0864-.9176.5986-.8278%201.1644l.0125.0813a9150.6941%209150.6941%200%200%200%20.3008%201.8984c.0791.4997.5156.8539%201.0076.8435H26.76c.4822.004.883.3493.9728.8062zM24.125%2030.8778c-1.612-10.1784-2.694-17.01-3.1892-20.1332l-.1278-.8072c-.156-.9847-1.0058-1.687-1.972-1.6874H12.5c-2%200-4%201.6874-4%204v18.475c0%20.4702.4048.875.9.875.7101%200%201.0768%200%201.1.0002%201.1046%200%202-.8954%202-2v-16.35c0-.5477.4403-.9925.9863-.9999l2.8082.0001a.9949.9949%200%200%201%20.5054.1485c.2358.159.4163.4291.473.7853l2.9029%2018.329c.0158.1186.0426.2374.0809.3552.2716.836%201.0664%201.3816%201.8933%201.3816.1022%200%20.2008-.0055.3094-.0205l1.3712-.2172c.341-.054.5736-.3741.516-.735l-.2025-1.2793a1.998%201.998%200%200%200-.019-.1202z%27/%3E%0A%3C/svg%3E%0A");
  background-position-x: 0px;
  background-position-y: 0;
  background-repeat: no-repeat;*/
/*
  &:before {
    content: '';
    display: block;
    mask: url("data:image/svg+xml,%0A%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2740%27%20height%3D%2740%27%20fill%3D%27url%28%23NPLogo%29%27%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%27evenodd%27%20d%3D%27M20%2040C8.9543%2040%200%2031.0457%200%2020S8.9543%200%2020%200s20%208.9543%2020%2020-8.9543%2020-20%2020zm7.7328-26.9438l.5966%203.731c.0062.045.0094.091.0094.1378%200%20.5523-.4477%201-1.0023%201h-1.9879a1.0065%201.0065%200%200%200-.1694.0124c-.5455.0864-.9176.5986-.8312%201.1441l.034.2152.0445.2812.238%201.5036c.0791.4997.5155.8435%201.0076.8435H29.15c2.4154%200%203.7772-1.6746%203.4095-3.9999l-.1234-.7808-.0349-.2205c-.4352-2.7515-.6457-4.0452-.8812-5.531a3.9395%203.9395%200%200%200-.0103-.062l-.2208-1.3937c-.1521-.9606-.9644-1.6645-1.9015-1.6863a607.618%20607.618%200%200%200-.9374-.0006h-.7004A23741.337%2023741.337%200%200%200%2023.813%208.25c-.0566%200-.114.0032-.1719.0124-.5455.0864-.9176.5986-.8278%201.1644l.0125.0813a9150.6941%209150.6941%200%200%200%20.3008%201.8984c.0791.4997.5156.8539%201.0076.8435H26.76c.4822.004.883.3493.9728.8062zM24.125%2030.8778c-1.612-10.1784-2.694-17.01-3.1892-20.1332l-.1278-.8072c-.156-.9847-1.0058-1.687-1.972-1.6874H12.5c-2%200-4%201.6874-4%204v18.475c0%20.4702.4048.875.9.875.7101%200%201.0768%200%201.1.0002%201.1046%200%202-.8954%202-2v-16.35c0-.5477.4403-.9925.9863-.9999l2.8082.0001a.9949.9949%200%200%201%20.5054.1485c.2358.159.4163.4291.473.7853l2.9029%2018.329c.0158.1186.0426.2374.0809.3552.2716.836%201.0664%201.3816%201.8933%201.3816.1022%200%20.2008-.0055.3094-.0205l1.3712-.2172c.341-.054.5736-.3741.516-.735l-.2025-1.2793a1.998%201.998%200%200%200-.019-.1202z%27/%3E%0A%3C/svg%3E%0A") no-repeat;
    background-color: var(--ax1);
    top: 0;
    left: -50px;
    position: absolute;
    width: 40px;
    height: 40px;
  }
  &:hover {
    &:before {
      background-color: var(--np-nav-hover);
    }
  }
  */
}
.site-header-logo {
  height: 40px;
  img {
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
    background: url("data:image/svg+xml,%0A%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2740%27%20height%3D%2740%27%20fill%3D%27url%28%23NPLogo%29%27%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%27evenodd%27%20d%3D%27M20%2040C8.9543%2040%200%2031.0457%200%2020S8.9543%200%2020%200s20%208.9543%2020%2020-8.9543%2020-20%2020zm7.7328-26.9438l.5966%203.731c.0062.045.0094.091.0094.1378%200%20.5523-.4477%201-1.0023%201h-1.9879a1.0065%201.0065%200%200%200-.1694.0124c-.5455.0864-.9176.5986-.8312%201.1441l.034.2152.0445.2812.238%201.5036c.0791.4997.5155.8435%201.0076.8435H29.15c2.4154%200%203.7772-1.6746%203.4095-3.9999l-.1234-.7808-.0349-.2205c-.4352-2.7515-.6457-4.0452-.8812-5.531a3.9395%203.9395%200%200%200-.0103-.062l-.2208-1.3937c-.1521-.9606-.9644-1.6645-1.9015-1.6863a607.618%20607.618%200%200%200-.9374-.0006h-.7004A23741.337%2023741.337%200%200%200%2023.813%208.25c-.0566%200-.114.0032-.1719.0124-.5455.0864-.9176.5986-.8278%201.1644l.0125.0813a9150.6941%209150.6941%200%200%200%20.3008%201.8984c.0791.4997.5156.8539%201.0076.8435H26.76c.4822.004.883.3493.9728.8062zM24.125%2030.8778c-1.612-10.1784-2.694-17.01-3.1892-20.1332l-.1278-.8072c-.156-.9847-1.0058-1.687-1.972-1.6874H12.5c-2%200-4%201.6874-4%204v18.475c0%20.4702.4048.875.9.875.7101%200%201.0768%200%201.1.0002%201.1046%200%202-.8954%202-2v-16.35c0-.5477.4403-.9925.9863-.9999l2.8082.0001a.9949.9949%200%200%201%20.5054.1485c.2358.159.4163.4291.473.7853l2.9029%2018.329c.0158.1186.0426.2374.0809.3552.2716.836%201.0664%201.3816%201.8933%201.3816.1022%200%20.2008-.0055.3094-.0205l1.3712-.2172c.341-.054.5736-.3741.516-.735l-.2025-1.2793a1.998%201.998%200%200%200-.019-.1202z%27/%3E%0A%3C/svg%3E%0A") no-repeat;
    fill: var(--ax1);
    background-size: contain;
    display: block;
  }
  &:hover, &.pseudohover {
    img {
      fill: var(--np-nav-hover);
    }
  }
}


.nav-links {
  ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    column-gap: 15px;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 40px;

    li {
      line-height: 20px;
      height: 40px;
    }

    @include md {
      column-gap: 30px;
    }
  }
}
.nav-link {
  @include navlinkstyle;
}
// Footer & blog index tag list
.nav-skew .nav-link {
  color: var(--ax1);
  &:hover {
    color: var(--np-nav-hover);
  }
}
/* 
  at 863px+ it moves up/down 1px or so
  line-height?
*/
#nav-light {
  svg {
    transition: transform 0.4s ease-in-out;
    &:hover {
      transform: rotate(180deg);
    }
  }
  &.lights-off svg {
    transform: rotate(-180deg);
    &:hover {
      transform: rotate(0deg);
    }
  }
  button {
    cursor: pointer;
    background: none;
    border: none;
    box-shadow: none;
    height: 40px;
    line-height: 20px;
    padding: 2px 6px 0;
    &:focus {
      outline: none;
    }
  }
}




// Javascript-added <div class="skew-bg"></div> within .site-body
// Possibly for only use on some articles, e.g. 'cssclasses: blog'
.skew-top {
  height: calc(6vw + 50px);
  display: grid;
  min-height: calc(6vw + 50px);
  padding-left: max(0px, env(safe-area-inset-left));
  padding-right: max(0px, env(safe-area-inset-right));
  position: relative;
  justify-items: center;
}

@include xl {
  .skew-top {
    min-height: 130px;
  }
}
.skew-top-bg {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
  position: absolute;
  top: -55vh;
  height: calc(100% - 6vw + 180px);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12vw), 0 100%);
  padding-bottom: calc(6vw + 6%);
  margin-bottom: calc(-1 * 6vw - 6%);
  background-size: cover;
  background-color: hsl(214, 26%, 17%);
}
@media (min-width: 1220px) {
  .skew-top .skew-top-bg {
    height: calc(100% + 120px);
  }
}