/* Ephemera Default Theme Colors
   ✨Each color is meaningful✨
   2023-12-26 NOTE: I think I should put these in biomes to minimize confusion
*/
body {
  --np-midnight: hsl(214, 26%, 12%);
  /* - Background (dark)
  */
  --np-sunset: hsl(32, 100%, 80%);
  /* - Nav
     - Page Description
     - General Accent
  */
  --np-clairdelune: hsl(214, 20%, 88%);
  /* - Text & Headings (dark)
  */
  --np-malibu: hsl(201, 88%, 74%);
  /* - Links (dark)
  */
  --np-bluewood: hsl(214, 26%, 25%);
  /* - highlights background
  */
  --np-darkfog: hsl(214, 26%, 17%);
  /* - Background (lighter dark)
  */
  --np-merino: hsl(39, 49%, 93%);
  /* - Background (light)
  */
  --np-driftwood: hsl(37, 36%, 46%);
  /* - Links (light)
  */
}

/* Default color scheme */
.theme-light,
.theme-dark {
  --red:#d04255;
  --yellow:#e5b567;
  --green:#a8c373;
  --orange:#e57e43;
  --cyan:#73bbb2;
  --blue:#6c99bb;
  --purple:#9e86c8;
  --pink:#b05279;
}

.theme-light {
  --i-a-r:    220, 220, 220;
  --t-hl-bg:  rgba(255, 225, 0, 0.5);
  --t-hl-bga: rgba(0, 0, 0, 0.1);
  --bg-m-e:   rgba(255,0,0,0.14);
  --bg-m-e-h: rgba(255,0,0,0.08);
  --bg-m-b-s: rgba(0, 0, 0, 0.3);
  --s-c:      rgba(0, 0, 0, 0.1);
  --b-s-c:    rgba(0, 0, 0, 0.05);
  
  --bg1:var(--np-merino);
  --bg2:#F5F5F5;
  --bg3:#E5E5E5;

  --ui1:#E6E6E6;
  --ui2:#D6D6D6;
  --ui3:#C2C2C2;

  --tx1:#0F0F0F;
  --tx2:#828282;
  --tx3:#B5B5B5;

  --ax1:#6A8695;
  --ax2:#556B77;
  --ax3:#889EAA;

  --hl1:hsla(201,50%,40%,30%);
  --np-nav-hover: var(--np-malibu);
}
.theme-dark {
  --i-a-r:    66, 66, 66;
  --t-hl-bg:  var(--np-bluewood);
/*--t-hl-bg:  rgba(255, 177, 80, 0.3);*/
  --t-hl-bga: rgba(255, 255, 255, 0.1);
  --bg-m-e:   rgba(255,20,20,0.12);
  --bg-m-e-h: rgba(255,20,20,0.18);
  --bg-m-b-s: rgba(0, 0, 0, 0.3);
  --s-c:      rgba(0, 0, 0, 0.3);
  --b-s-c:    rgba(0, 0, 0, 0.2);

  --bg1: var(--np-midnight);
  --bg2:#212121;
  --bg3:hsla(0,0,55%,0.12);

  --ui1:#333333;
  --ui2:#3B3B3B;
  --ui3:#595959;

  --tx1:var(--np-clairdelune);
  --tx2:#999999;
  --tx3:#595959;

  --ax1:var(--np-sunset);
  --ax2:#ACBBC3;
  --ax3:#67808E;

  --hl1:hsla(201,70%,40%,30%);
  --np-nav-hover: #fff;
}
