/* Map colors to semantic Obsidian names */

.theme-light {
	--mono100: black;
	--mono0: white;
}
.theme-dark {
	--mono100: white;
	--mono0: black;
}
.theme-light,
.theme-dark {
	--h1-color:                          var(--text-normal);
	--h2-color:                          var(--text-normal);
	--h3-color:                          var(--text-normal);
	--h4-color:                          var(--text-normal);
	--h5-color:                          var(--text-normal);
	--h6-color:                          var(--text-muted);
}
.published-container {
	--outline-heading-color-active:      var(--tx1);
	--sidebar-left-background:           var(--bg2);
}

.theme-dark,
.theme-light {
	--background-primary:                var(--bg1);
	--background-primary-alt:            var(--bg2);
	--background-secondary:              var(--bg2);
	--background-secondary-alt:          var(--bg1);
	--background-tertiary:               var(--bg3);
	--background-table-rows:             var(--bg2);

	--background-modifier-form-field:    var(--bg1);
	--background-modifier-form-field-highlighted: var(--bg1);
	--background-modifier-accent:        var(--ax3);  
	--background-modifier-border:        var(--ui1);
	--background-modifier-border-hover:  var(--ui2);
	--background-modifier-border-focus:  var(--ui3);
	--background-modifier-success:       var(--color-green);
	--background-divider:                var(--ui1);

	--interactive-hover:                 var(--ui1);
	--interactive-accent:                var(--ax3);
	--interactive-accent-hover:          var(--ax3);

	--quote-opening-modifier:            var(--ui2);

	--modal-border:                      var(--ui2);

	--icon-color:                        var(--tx2);
	--icon-color-hover:                  var(--tx2);
	--icon-color-active:                 var(--tx1);
	--icon-hex:                          var(--mono0);

	--text-normal:                       var(--tx1);
	--text-bold:                         var(--tx1);
	--text-italic:                       var(--tx1);
	--text-muted:                        var(--tx2);
	--text-faint:                        var(--tx3);

	--text-accent:                       var(--ax1);
	--text-accent-hover:                 var(--ax2);
	--text-on-accent:                    white;
	--text-selection:                    var(--hl1);

	--text-code:                         var(--tx4);
	--text-error:                        var(--color-red);
	--text-blockquote:                   var(--tx2);

	--title-color:                       var(--tx1);
	--title-color-inactive:              var(--tx2);

}

.theme-light {
	--interactive-normal:                var(--bg1);
	--interactive-accent-rgb:            var(--i-a-r);

	/* Highlights from search */
	--text-highlight-bg:                 var(--t-hl-bg);
	--text-highlight-bg-active:          var(--t-hl-bga);

	/* Errors */
	--background-modifier-error:         var(--bg-m-e);
	--background-modifier-error-hover:   var(--bg-m-e-h);

	/* Shadows */
	--shadow-color:                      var(--s-c);
	--btn-shadow-color:                  var(--b-s-c);
}

.theme-dark {
	--interactive-normal:                var(--bg3);
	--interactive-accent-rgb:            var(--i-a-r);

	/* Highlights from search */
	--text-highlight-bg:                 var(--t-hl-bg);
	--text-highlight-bg-active:          var(--t-hl-bga);

	/* Errors */
	--background-modifier-error:         var(--bg-m-e);
	--background-modifier-error-hover:   var(--bg-m-e-h);

	/* Shadows */
	--background-modifier-box-shadow:    var(--bg-m-b-s);
	--shadow-color:                      var(--s-c);
	--btn-shadow-color:                  var(--b-s-c);
}